.char {
    width: 50%;
    margin-right: 1rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.char-container {
    width: auto;
}

.char-meh {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 25rem;
    margin: 0 auto;
}

.char-img {
    width: 20rem;
    border: solid 3px black;
    border-radius: 15%;
    margin: 0 auto; 
}

.char-stats {
    position: absolute;
    top: -20px;
    font-weight: bold;
    left: -15px;
    border: 4px groove black;
    text-align: left;
    padding: 0.3rem;
    margin: 0;
    border-radius: 15%;
    background-color: bisque;
}

.fighting {
    border: 3px solid red;
    box-shadow: -5px 5px 15px 5px rgba(0, 0, 0, 0.603);}

.def {
    border: 4px dashed rgb(0, 153, 255);
}
  
@keyframes fadeInAnimation {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes shake {
    from { transform: translateX(-10px);}
    to { transform: translateX(10px);}
}