footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: beige;
}

footer div {
    display: flex;
}

footer p {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: black;
}

i {
    font-size: 2em;
    padding: 0.5em;
}

i:hover {
    transform: scale(1.5);
}