/*--- Game Started Layout ----*/

.game-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 80%;
    align-items: center;
    text-align: center;
  }
  
  .App-game-container {
    margin: 0 auto;
    animation: fadeInAnimation 2s;
  }
  
  .App-game-players-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
    align-items: center;
  }
  
  .App-game-hand-container {
    display: flex;
    flex-direction: column;
  }
  