/*--- Header ---*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .std-btn {
    padding: 0.5rem 0.75rem;
    margin: 0 0.5rem;
    font-size: 1.25rem;
    border: solid 2px black;
    border-radius: 50px;
    background-color:rgba(219, 111, 9, 0.411) ;
    transition: all 200ms ease-out; 
  }
  
  .btn-end {
      margin-top: 15%;
  }
  
  .Header-rack-btn {
    top: 10rem;
  }
  
  .std-btn:hover {
    cursor: pointer;
    background-color:rgba(216, 168, 123, 0.438) ;
  }