/*--- Game Starter ----*/

.game-starter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-height: 50%;
    max-width: 80%;
    margin: 0 auto;
  }
  
  .game-starter-charSelection {
    display: flex;
    margin: 2em;
  }
  
  .game-starter-char {
    border: 5px solid rgba(240, 248, 255, 0);
    margin: 2em;
    border-radius: 10px;
    padding: 1em;
    transition: all 200ms ease;
  }
  
  .game-starter-char-text {
    padding: 0.1em;
  }
  
  .game-starter-char:focus,
  .game-starter-char:hover {
    border: 5px solid black;
  }
  
  .game-starter-char img {
    width: 300px;
  }
  