.char {
  margin-right: 1em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.char-container {
  width: auto;
}

.char-meh {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 1em;
  /* margin: 0 auto; */
}

.char-img {
  max-width: 20em;
  border: solid 3px black;
  border-radius: 0 15% 15% 15%;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
}

.char-stats {
  position: absolute;
  top: 3px;
  font-weight: bold;
  left: 3px;
  width: 60%;
  border: 1px groove black;
  text-align: left;
  margin: 0;
  background-color: rgb(179, 179, 179);
}

.fighting {
  border: 3px solid red;
  box-shadow: -5px 5px 15px 5px rgba(0, 0, 0, 0.603);
}

.def {
  border: 4px dashed rgb(0, 153, 255);
}

.char-msg {
  position: absolute;
  top: 1em;
  right: 1em;
  transform: rotate(20deg);
  font-size: 1.5rem;
  order: 12;
  color: rgb(255, 8, 8);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  opacity: 0;
}

.bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  text-overflow: unset;
}

.shake {
  animation: shake 0.5s linear infinite;
}

.dead {
  animation: dead 1s normal;
  transform: rotate(180deg);
  opacity: 0.7;
  background-blend-mode: darken;
}

.vibrate {
  animation: vibrate 0.5s linear both;
}

.blackout {
  animation: blackout 0.5s linear both;
}

.lowLife {
  content: '';
  position: absolute;
  width: 110%;
  height: 110%;
  top: 0;
  left: 0;
  background: rgb(226, 43, 43);
  z-index: -1;
  animation: pulse 1000ms cubic-bezier(0.9, 0.7, 0.5, 0.9) infinite;
}

@keyframes lowLife {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1.4);
    opacity: 0.4;
  }
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(-5px, -5px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes blackout {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-35px, 15px) rotate(-20deg);
    background-color: red;
    width: 105%;
    border-radius: 15px;
  }
  40% {
    transform: translate(-25px, -15px) rotate(0deg);
  }
  60% {
    transform: translate(20px, 15px) rotate(20deg);
  }
  80% {
    transform: translate(25px, -15px) rotate(-20deg);
  }
  100% {
    transform: translate(0) rotate(0deg);
  }
}

@keyframes dead {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(180deg);
    opacity: 0.5;
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes pop {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
