.card-rack{
    display: flex;
    justify-content: center;
    color: black;
    max-width: 1200px;
    margin-top: 6.5em;
}

.card {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
    border-radius: 5%;
    border: 2px inset black;
    margin: -5em -1em;
    background-color: #f1d8b6;
    transition: all 300ms ease; 
    padding: 1.5em;
    min-width: 100px;
    width: 100%;
}

.card-title {
    margin: 0 auto;
}

.cards-specs {
    text-align: center;
    text-decoration: none;
}

.card:hover,
.card:focus{
  transform: translateY(-2em);
  margin-right: 1em;
  cursor: pointer;
}

ul {
    list-style: none;  
    text-decoration: none;
    padding: 0;  
}

.rarity {
    margin: 0 auto;
}

.disabled {
    opacity: 0.7;
    pointer-events: none;
}