.char {
  margin-right: 1em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.char-container {
  width: auto;
}

.char-meh {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 1em;
  /* margin: 0 auto; */
}

.char-img {
  max-width: 20em;
  border: solid 3px black;
  border-radius: 0 15% 15% 15%;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
}

.char-stats {
  position: absolute;
  top: 3px;
  font-weight: bold;
  left: 3px;
  width: 60%;
  border: 1px groove black;
  text-align: left;
  margin: 0;
  background-color: rgb(179, 179, 179);
}

.fighting {
  border: 3px solid red;
  box-shadow: -5px 5px 15px 5px rgba(0, 0, 0, 0.603);
}

.def {
  border: 4px dashed rgb(0, 153, 255);
}

.char-msg {
  position: absolute;
  top: 1em;
  right: 1em;
  transform: rotate(20deg);
  font-size: 1.5rem;
  order: 12;
  color: rgb(255, 8, 8);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  opacity: 0;
}

.bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  text-overflow: unset;
}

.pop {
  animation: pop 2s infinite;
}

.dead {
  animation: dead 1s normal;
  transform: rotate(180deg);
  opacity: 0.7;
  background-blend-mode: darken;
}

@keyframes dead {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(180deg);
    opacity: 0.5;
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shake {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(10px);
  }
}

@keyframes pop {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
