.carousel-container {
    overflow: hidden;
    position: relative;
  }
  
  .carousel-item {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .carousel-item.prev {
    transform: translateX(-50%);
  }
  
  .carousel-item.next {
    transform: translateX(50%);
  }