/*--- Game Starter ----*/

.game-starter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-height: 50%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .game-starter-charSelection {
    display: flex;
    margin: 2em;
    width: 700px;
    height: 800px;
  }
  
  .game-starter-char {
    border: 5px solid rgba(240, 248, 255, 0);
    margin: 0.75em;
    border-radius: 10px;
    padding: 0.2em;
    transition: all 200ms ease;
    width: 250px;
    height: min-content;
  }
  
  .game-starter-char-text {
    padding: 0.1em;
  }
  
  .game-starter-char:focus,
  .game-starter-char:hover {
    border: 5px solid black;
    cursor: pointer;
  }
  
  .game-starter-char img {
    max-width: 100%;
    width: 100%;

  }
  