/*--- Game Starter ----*/

.game-starter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-height: 50%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .game-starter-charSelection {
    display: flex;
    margin: 2em;
    width: 400px;
    height: 500px;
  }
  
  .game-starter-char {
    border: 5px solid rgba(240, 248, 255, 0);
    margin: 0.75em;
    border-radius: 10px;
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 200ms ease;
  }
    
  .game-starter-char:focus,
  .game-starter-char:hover {
    border: 5px solid black;
    cursor: pointer;
  }
  
  .game-starter-char img {
    max-width: 100%;
    width: 100%;

  }

  .stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 35%;
    align-items: center;
    justify-content: center;
  }

  .stats p {
    margin-bottom: 0.1em;
    margin-top: 0;
    text-align: left;
    padding-left: 0.1em;
    width: 49%;
  }
  