.App {
  text-align: center;
  margin: 0 auto;
  background-color: #c7e0c8;
  background-size: contain;
  height: 100vh;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}






